[2016-10-13 10:51] sveip opened #1 "Still maintained?"
Is this project still planned to be implemented?

[2016-10-14 13:23] YiannisBourkelis commented on #1
Yes, I am working on it. Currently I am trying to figure out how to capture a screenshot from the windows log on screen, or when the UAC prompt appears.
Do you know how can this be done?

[2017-03-13 12:40] antton commented on #1
Hello @YiannisBourkelis did you get any advance on UAC prompt screen?

Anyway, the software is working fantastic even if it's not valid with this "restriction".

I can't help you because I don't even know how to skip it!

Cheers

[2017-03-13 13:33] YiannisBourkelis commented on #1
Thank you antton,
I have done some research on the UAC prompt issue however I have not fixed it yet.

[2017-03-13 13:46] antton commented on #1
I found another bug, when you connect to a remote windows computer at least from macos, and when you end up working on it and close the connection, the keyboard from the remote windows computer get useless and you need to logout from the session or restart the computer to get it working properly again.

If you release a new version, I'd lovely try it.

Thanks for your hard work!!

[2017-03-13 16:52] YiannisBourkelis commented on #1
Can you help me reproduce this issue?
What is the version of windows you are connecting to? Windows 10/7/Vista/XP? x86/x64?

[2017-03-13 16:56] antton commented on #1
Osx el capitan connecting to windows 10 x64.

Let me know if I can help you with anything else ;)

[2017-03-13 16:58] YiannisBourkelis commented on #1
Thank you antton, I will try to reproduce it when I will have a windows 10 x64 machine available.

[2017-03-14 12:51] antton commented on #1
Hello again,

I install the linux client on Ubuntu 16.04 and is working perfectly from osx -> linux.

You have an awesome software, I don't understand why is not soo popular, but anyway.

It would be nice to let decide which proxy server use to make it work, actually I see that is using your personal proxy server 'mailgate.filoxeni.com'.

I'm going to try to compile the proxy and then try to compi

[2017-03-14 17:17] YiannisBourkelis commented on #1
Yes you can change the proxy address from https://github.com/YiannisBourkelis/Andama-Remote-Desktop/blob/master/src/Andama/clientserver.cpp , line 930 to whatever domain the proxy is located.

To compile AndamaProxy to a linux machine, just copy this file: https://github.com/YiannisBourkelis/Andama-Remote-Desktop/blob/master/src/AndamaProxy/main.cpp
to your server and compile it:
g++  main.cpp -o

[2017-03-14 17:19] antton commented on #1
Great!

[2017-03-18 14:42] marcelodias1806 commented on #1
Dear,

I wanted to contribute to the project by putting the language in Portuguese (Brazil). It's possible?

Best Regards

[2017-03-19 02:18] YiannisBourkelis commented on #1
Thank you marcelodias.
Yes, translation in Portuguese is possible. I will check the Qt documentation to find out the best way to do it and I will let you know until Tuesday.

To recompile and run the application you should download Qt for open source from this link: [https://www.qt.io/download/](url) on each platform.

For the translation you can use your linux machine and Qt. I will send you more

[2017-03-19 08:42] antton commented on #1
I will wait you indications as well and translate it into basque and spanish ;)

[2017-03-27 13:29] YiannisBourkelis opened #2 "Portuguese translation"
marcelodias, here you can find a guide for the translation of Andama in Portuguese: [http://www.andama.org/translation-guide](http://www.andama.org/translation-guide)

The name of the language file is **Andama_pt.ts**, located under [https://github.com/YiannisBourkelis/Andama-Remote-Desktop/blob/develop/src/Andama/Andama_pt.ts](https://github.com/YiannisBourkelis/Andama-Remote-Desktop/blob/develop

[2017-03-27 13:35] YiannisBourkelis opened #3 "Spanish and Basque translation"
@antton, here you can find a guide for the translation of Andama in Spanish and Basque: [http://www.andama.org/translation-guide](http://www.andama.org/translation-guide)

The name of the language files are:
**Andama_es.ts**, for the **English to Spanish translation**, located under [https://github.com/YiannisBourkelis/Andama-Remote-Desktop/blob/develop/src/Andama/Andama_es.ts](https://github.com/

[2017-03-27 13:40] YiannisBourkelis commented on #1
@marcelodias1806 and @antton thank you very much for your offer on translating Andama. I created two new threads for the translations.

From English to Portuguese: [https://github.com/YiannisBourkelis/Andama-Remote-Desktop/issues/2](https://github.com/YiannisBourkelis/Andama-Remote-Desktop/issues/2)

From English to Spanish/Basque: [https://github.com/YiannisBourkelis/Andama-Remote-Desktop/issues/

[2017-03-27 13:49] marcelodias1806 commented on #2
Dear @YiannisBourkelis, I'm downloading the Qt and starting the translate for Portuguese-Brasil.

If I having any problem I contact you.

Best Regards

[2017-03-27 14:06] YiannisBourkelis commented on #2
Great!

[2017-04-13 03:39] marcelodias1806 commented on #2
Dear Yiannis, how are you?

I finish the translate of file Andama_pt.ts, I'm sending in attach. You
publish in Github? How I publish in Github?

You can compile an executable for testing?

How I can compile and executable? How the better platform, Windows,
Linux or Mac? I compile with Qt?

Best Regards

Em 27-03-2017 10:30, YiannisBourkelis escreveu:

[2017-04-14 03:02] YiannisBourkelis commented on #2
Hi @marcelodias1806 , yes upload the Andama_pt.ts and I will merge it to the branch. Use the GitHub web interface because replying to the email with attachment might not include it.

It is easier to compile Andama on Windows or Linux. What do you prefer? I will give you instructions on how to do it so that you can also test the translation.

[2017-05-25 19:15] johnkeel-obsidian commented on #1
How are you compiling with Windows?
QT MinGW 32Bit?
QT MSVC ?

I will try to contribute with a better UI.

[2017-05-25 20:02] YiannisBourkelis commented on #1
Hi @johnkeel-obsidian,
on windows I use the MSVC compiler that comes with Visual Studio.
Please clone the "develop" branch because I have done some changes on the UI from the master branch. Thank you for considering contributing to the project :-)

[2017-05-25 20:29] johnkeel-obsidian commented on #1
Thank you for your fast reply.
Ok i changed my Kit like this:
QT 5.9.0 MSVC2017 64bit
It did compile.
Now im not sure if i understand how the software works, since i get a empty "LOCAL COMPUTER" info, no ID and no PASS.

Regarding the looks, can i go modern flat on it? I will make you a preview.

[2017-05-25 20:35] YiannisBourkelis commented on #1
@johnkeel-obsidian this is happening because the proxy is down. I am fixing it now, maybe in 10 minutes it will work. I will send you a message here when the proxy server will be up.

[2017-05-25 20:43] YiannisBourkelis commented on #1
@johnkeel-obsidian ok the proxy server is up and running. Andama should now get an ID

[2017-05-25 20:50] YiannisBourkelis commented on #1
@johnkeel-obsidian yes I believe modern flat will look nice. I will wait for a screenshot.

[2017-05-25 20:50] johnkeel-obsidian commented on #1
Yeap it does.
I´m starting to understand this! I can compile the proxy to setup my own testing server too right?
Nice... this seems to be well thought, congrats man.
Can you please tell me what the UPNP return error code: 500, is?

[2017-05-25 21:05] YiannisBourkelis commented on #1
I use the uPnP protocol to open port forwarding on the router so that a direct (p2p) connection between the 2 computers will be established. This reduces the extra latency introduced when using the proxy server. Currently the uPnP code is work in progress, that is because you are receiving this error 500. Maybe if you login into your router and enable uPnP this error will be gone.

You can compile

[2017-05-25 21:12] johnkeel-obsidian commented on #1
Wow thanks!
Really amazing work.
Tomorrow ill do my first GUI so you can check...

[2017-05-25 21:14] YiannisBourkelis commented on #1
Thank you @johnkeel-obsidian !! :-)

[2017-05-26 10:37] johnkeel-obsidian commented on #1
sorry to disturb you but i can´t still make it work.
It connects to my proxy, the two units get the IDs and PASS, then when i do a connection it seems to trigger it fine, minimizes on host but nothing shows up on the unit which is connecting.
On the laptop i use to connect it should be showing the remote system but it does not.
If i close the app on the host it says there´s a connected user and al

[2017-05-26 14:01] johnkeel-obsidian commented on #1
Btw, this is looping in the host (it´s the app output):

JPG conversion :2ms
vimgbytes creation :0ms
screenshotsWorker::sendScreenshot ALL :2ms
this->prepareAndSendScreenshotDiff() - ALLx2 :6ms
screenshotWorker::run-isDirty - ALL :6ms

But the app is not showing the actual remote window

[2017-05-26 14:29] YiannisBourkelis commented on #1
- In order to work correctly you should have Qt framework installed on both machines.
- Do a qmake / clean / rebuild just in case.
- If you are connecting to the remote machine using windows remote desktop, the remote desktop window should be open (not minimized)
- Try to use the default andama proxy, not your local.

[2017-05-26 14:39] johnkeel-obsidian commented on #1
Checked all of that
I think the printscreen is not being sent:

Machine 1:
IMAGE DIFF BYTES RECIEVED:4
... nothing else

Machine 2 Log:
Warning: QPainter::begin: Paint device returned engine == 0, type: 3 (:0, )
WArning: QImage::scaled: Image is a null image (:0, )
(loops)

I´m now trying connecting only with proxy mode.

[2017-05-26 15:08] johnkeel-obsidian commented on #1
AHHHH!!! solved!!!!
Finally i can start working on it!!!
My bad, one of the units was missing QT Framework files... DUH

[2017-05-26 17:34] YiannisBourkelis commented on #1
Great!

[2017-06-12 14:43] santymarty opened #4 "Traducción al Español"

[2017-07-03 11:33] neuronet77 commented on #1
Hi YiannisBourkelis!

Thanks a lot for the work you've put into this project so far.

I stumpled across it last night while trying to find a good alternative for remote support instead of this high prices commercial systems like T***V***** & Co.

Right now I'm on "enhancing" the proxy server to store recent session data in a local MySql database to be able to see open connections via support panel

[2017-07-03 12:47] neuronet77 commented on #1
C:\Users\neuronet\Downloads\andama\Andama-Remote-Desktop-master\Andama-Remote-Desktop-master\src\Andama\moc_clientserver.cpp:81: error: C2660: 'clientserver::sig_messageRecieved' : function does not take 3 arguments

I get this error message on the master branch when trying to compile in QT Creator on Windows

[2017-08-24 17:45] dougrinkin commented on #1
Hi YiannisBourkelis,

I wanted to know if the proxy server is still down if so when will it be up?  Because I am getting a cannot connect to proxy error.  Also was wondering can I setup a proxy out on the internet that is live that I can use for testing between two computers in different locations?  I would setup the proxy Server in  an AWS instance.  What platform do you recommend for this? Hope

[2017-08-24 18:32] neuronet77 commented on #1
@dougrinkin

YiannisBourkelis wrote further up in this thread:

Yes you can change the proxy address from https://github.com/YiannisBourkelis/Andama-Remote-Desktop/blob/master/src/Andama/clientserver.cpp , line 930 to whatever domain the proxy is located.

To compile AndamaProxy to a linux machine, just copy this file: https://github.com/YiannisBourkelis/Andama-Remote-Desktop/blob/master/src/Andam

[2017-08-24 20:59] dougrinkin commented on #1
Hi Neuronet77,

So my question now is how do I get it the MACOsx version of Andama to recognize the new proxy server?  What line on the code do I need to change for this?  Also if I use QT open source with this work to compile it?

Thanks,

Doug

[2017-08-24 21:04] dougrinkin commented on #1
Hi Neuronet77

Also what is the command to recompile the MAC OSX Andama App.

Thanks,

Doug

[2017-08-24 21:51] neuronet77 commented on #1
Hi @dougrinkin ,

you need qt for OSX installed

"brew install qt"

Then you should be able to compile it via qmake.
Just change the proxy address in line 930 from

SERVER = gethostbyname("mailgate.filoxeni.com");

to

SERVER = gethostbyname("yourproxy.yourdomain.com");

[2017-08-25 00:05] YiannisBourkelis commented on #1
@neuronet77 I am using Visual Studio 2015 to compile on windows. I am also planning to implement a session data storage mechanism probably using mysql, mainly for being able to keep the same unique ID, even if the user closes and re-opens the application. Now it takes a new ID each time. However a new ID each time the application starts is a good thing for people how are concerned about their priv

[2017-08-25 00:08] YiannisBourkelis commented on #1
@dougrinkin probably tomorrow or the day after tomorrow the server will be up and running. I prefer a linux machine for the andama proxy server. Currently the server I am using is an ubuntu x64 minimal server. However the proxy server compiles fine on both windows and osx.

[2017-08-25 06:26] sveip commented on #1
Wouldn't it be easier to make a prompt or similar to enter the server
address on startup (if you want to keep it simple with minimal changes)? Or
even better make a settings menu where address can be chosen.

2017-08-25 3:38 GMT+02:00 dougrinkin <notifications@github.com>:

[2017-08-25 08:28] YiannisBourkelis commented on #1
@dougrinkin I am using Qt 5.7.1 but it should also compile on newer versions.
@sveip yes, a simple and easy to use solution would be to use the QSettings class, and load some application settings (like proxy server address and port) from an .ini file located at the path where the Andama executable is located.

[2017-08-25 13:16] dougrinkin commented on #1
Hi Yiannis,

I wanted to ask you if it is the open source or commercial version of QT 5.7.1 that you are using?

Thanks

Doug

Sent from my iPhone

[2017-08-25 13:26] dougrinkin commented on #1
Also one more quick question, what are are the files or files and pralines that control the name of the app as it is displayed when the program launches that say Andama at the top out of curiosity?

Thanks

Doug

Sent from my iPhone

[2017-08-25 14:31] neuronet77 commented on #1
@YiannisBourkelis : I can provide you a VPS if you would like

[2017-08-25 14:33] dougrinkin commented on #1
Hi Yiannis,

What is a VPS sorry for the dumb question sir…I really appreciate all of your help I love your product is really great.

Best Regards,

Doug Rinkin

From: neuronet77 <notifications@github.com>
Reply-To: YiannisBourkelis/Andama-Remote-Desktop <reply@reply.github.com>
Date: Friday, August 25, 2017 at 8:31 AM
To: YiannisBourkelis/Andama-Remote-Desktop <Andama-Remote-Desktop@noreply.githu

[2017-08-25 14:34] dougrinkin commented on #1
Yiannis,

I would love a VPS that would be great.

Thanks,

Doug Rinkin

From: YiannisBourkelis <notifications@github.com>
Reply-To: YiannisBourkelis/Andama-Remote-Desktop <reply@reply.github.com>
Date: Friday, August 25, 2017 at 2:28 AM
To: YiannisBourkelis/Andama-Remote-Desktop <Andama-Remote-Desktop@noreply.github.com>
Cc: dougrinkin <dr@caringisthecause.com>, Mention <mention@noreply.github.co

[2017-08-25 14:34] neuronet77 commented on #1
@dougrinkin

https://en.wikipedia.org/wiki/Virtual_private_server

[2017-08-25 14:36] dougrinkin commented on #1
Thank you for the information :) I would love a VPS  that would be very helpful.

Thanks,

Doug

From: neuronet77 <notifications@github.com>
Reply-To: YiannisBourkelis/Andama-Remote-Desktop <reply@reply.github.com>
Date: Friday, August 25, 2017 at 8:34 AM
To: YiannisBourkelis/Andama-Remote-Desktop <Andama-Remote-Desktop@noreply.github.com>
Cc: dougrinkin <dr@caringisthecause.com>, Mention <mention

[2017-08-25 14:41] dougrinkin commented on #1
YiannisBourkelis,

How long will it take for access to the VPS?

Thanks,

Doug

From: neuronet77 <notifications@github.com>
Reply-To: YiannisBourkelis/Andama-Remote-Desktop <reply@reply.github.com>
Date: Friday, August 25, 2017 at 8:31 AM
To: YiannisBourkelis/Andama-Remote-Desktop <Andama-Remote-Desktop@noreply.github.com>
Cc: dougrinkin <dr@caringisthecause.com>, Mention <mention@noreply.github.c

[2017-08-25 14:43] neuronet77 commented on #1
I have just emailed @YiannisBourkelis the SSH logins for a VPS he can use for this project. I hope this will help everybody.

[2017-08-25 14:45] dougrinkin commented on #1
Yeah that is awesome!

From: neuronet77 <notifications@github.com>
Reply-To: YiannisBourkelis/Andama-Remote-Desktop <reply@reply.github.com>
Date: Friday, August 25, 2017 at 8:43 AM
To: YiannisBourkelis/Andama-Remote-Desktop <Andama-Remote-Desktop@noreply.github.com>
Cc: dougrinkin <dr@caringisthecause.com>, Mention <mention@noreply.github.com>
Subject: Re: [YiannisBourkelis/Andama-Remote-Desktop]

[2017-08-25 14:46] dougrinkin commented on #1
Neuronet77,

What version of QT do you use? The open source version or the commercial version?

Thanks,

Doug

From: neuronet77 <notifications@github.com>
Reply-To: YiannisBourkelis/Andama-Remote-Desktop <reply@reply.github.com>
Date: Friday, August 25, 2017 at 8:43 AM
To: YiannisBourkelis/Andama-Remote-Desktop <Andama-Remote-Desktop@noreply.github.com>
Cc: dougrinkin <dr@caringisthecause.com>, Me

[2017-08-25 14:50] marcelodias1806 commented on #1
@YiannisBourkelis how are you?

I finished a full translation of Andama, how do I put it here not Github and how do I compile Andama in Portuguese?

My computer is running Linux CentOS 7 and QT is already installed.

[2017-08-25 14:51] marcelodias1806 commented on #2
@YiannisBourkelis Where do I upload the translation files? I've already tried everything here and did not find it.

[2017-08-25 14:59] neuronet77 commented on #1
@dougrinkin
I'm using 5.9.1 in the open source edition

[2017-08-25 15:46] dougrinkin commented on #1
Ok, weird I am getting mouse.cpp errors when trying to compile it any ideas what might be causing this? I am using the same version you are.

Thanks,

Doug

From: neuronet77 <notifications@github.com>
Reply-To: YiannisBourkelis/Andama-Remote-Desktop <reply@reply.github.com>
Date: Friday, August 25, 2017 at 8:59 AM
To: YiannisBourkelis/Andama-Remote-Desktop <Andama-Remote-Desktop@noreply.github.com

[2017-08-25 18:39] dougrinkin commented on #1
Neuronet77, thank you for the information, you have been very very helpful.  I do have some more questions for you in the future probably.

Thanks,

Doug Rinkin

From: neuronet77 <notifications@github.com>
Reply-To: YiannisBourkelis/Andama-Remote-Desktop <reply@reply.github.com>
Date: Friday, August 25, 2017 at 8:59 AM
To: YiannisBourkelis/Andama-Remote-Desktop <Andama-Remote-Desktop@noreply.githu

[2017-08-25 19:15] dougrinkin commented on #1
Hi YiannisBourkelis,

Does your version of code compile on MACOSX Sierra? What is the latest version it will compile for, for MAC OSX?  Does anyone have a newer commit of this code that will compile on sierra?

Thanks,

Doug

From: YiannisBourkelis <notifications@github.com>
Reply-To: YiannisBourkelis/Andama-Remote-Desktop <reply@reply.github.com>
Date: Friday, August 25, 2017 at 2:28 AM
To: Yiann

[2017-08-25 21:56] dougrinkin commented on #1
YiannisBourkelis

I seem to be getting some errors when trying to compile Andama.  It acts like it is going to build the file however after trying to compile it with QT 5.9.1 on MAC OSX Sierra it does not seem to be creating a usable .APP for OSX it there a link to a newer location of code? or perhaps I might be doing something wrong please see the errors below:

/Users/dougrinkin/Downloads/DougDe

[2017-08-26 18:34] dougrinkin commented on #1
YiannisBourkelis

I am having a heck of a time trying to compile the MAC OSX APP to a working app.  I am using 5.9.1 QT Commerical.  I posted the error problems I was getting with the mouse.cpp file errors.  What am I doing wrong I would be forever in-debted to you if you gave me some advice.

Thanks,

[2017-08-26 23:50] dougrinkin commented on #1
YiannisBourkelis,

Hi it's Doug again,  I have been talking to a few of my colleagues and we are working on an open source project that can utilize Andama.  However is it possible to discuss in a more private forum than this Github.  My email address is dr@caringisthecause.com . Please contact me when ever you may be free.  I am looking forward to speaking with you soon.

Sincerely,

Doug

[2017-08-29 03:57] dougrinkin commented on #1
Hi does anyone know why when compiling Andama you get MacMouse.cpp errors.  I get about errors like this right before it goes to compile the code. Anyone have any suggestions?

[2017-08-29 13:23] YiannisBourkelis commented on #1
@dougrinkin yes, in latest Xcode these compile errors seem to appear in mouse.cpp. I have not tried solve it because I am using a previous version of macOSX sdk (/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.9.sdk)

[2017-08-29 13:37] neuronet77 commented on #1
@YiannisBourkelis
You got my mail with the server credentials?

[2017-08-29 13:47] YiannisBourkelis commented on #1
@neuronet77  yes, thank you very much! I will reply to you by email later tonight, I am just too busy at the moment

[2017-08-29 13:51] neuronet77 commented on #1
@YiannisBourkelis
No rush :D

[2017-08-29 14:47] YiannisBourkelis commented on #1
@marcelodias1806 Thank you for the Portuguese translation! Have you followed the guide as described here? [](http://www.andama.org/translation-guide  )

[2017-08-29 14:48] YiannisBourkelis commented on #4
@santymarty hi santymarty, have you started the Spanish translation? Please let me know if I can help you in the process.

[2017-08-30 03:23] dougrinkin commented on #1
Hi Yiannis,

Is there any chance you could turn the proxy up tomorrow?  I would like to try to do some testing. I am working on setting up my own but for the time being that would be great.

thanks,

Doug

[2017-08-30 10:45] YiannisBourkelis commented on #1
@dougrinkin yes, it is already up, but it might take the domain some time to propagate. Do a restart of your machine just in case, to refresh your DNS cache.

[2017-08-31 08:29] dougrinkin commented on #1
Hi All

Anyone been able to transmit audio over Andama Remote Desktop or does anyone have a plugin that will do this?

Thanks,

Doug

[2017-08-31 22:08] YiannisBourkelis commented on #1
@dougrinkin audio streaming is not yet implemented in andama

[2017-09-01 07:30] kingofnull opened #5 "Compile Fail On Qt 5.9 and mingw 53_32"
The test server that app compiled with is out of busyness so I try test it locally but I cant compile project and test it. I got Qt 5.9 and mingw 53 on Windows 10 but it seams it can't find Microsoft-Windows functions.
![alt text](https://preview.ibb.co/naLDSQ/Untitled.png)

I cant find any instruction for compiling on windows so please make one or help me to compile it.

Thanks a lot

[2017-09-02 23:21] YiannisBourkelis commented on #5
@kingofnull the dev server is up and running. I have a windows 7 machine with mingw and it compiles fine. I will take a look at this compile issue on Monday.

[2017-09-04 16:28] kingofnull commented on #5
I mean the Anmanda itself not the proxy. Anyway I add `win32: LIBS += -lgdi32 -lcomdlg32 -lws2_32` to project file `Andama.pro` and it compiled successfully but when it terminate i get this error:
---------------------------
Microsoft Visual C++ Runtime Library
---------------------------
Runtime Error!

Program: E:\Projects\Qt\Andama-Remote-Desktop-master\src\build-Andama-Desktop_Qt_5_9_1_MinGW_3

[2017-09-04 16:41] kingofnull opened #6 "Chat support"
There is any plan to support chat on session?

[2017-09-04 22:52] YiannisBourkelis commented on #5
@kingofnull this might be because some background threads are still running. This is a known issue.

[2017-09-04 22:54] YiannisBourkelis commented on #6
@kingofnull yes, but I first need to implement the remote desktop part.

[2017-09-05 13:07] kingofnull commented on #6
remote desktop ? what is it? do you plan use Windows RDP protocol?

[2017-09-05 13:07] kingofnull commented on #5
I there any way to solve it?

[2017-09-05 13:29] kingofnull opened #7 "Implement xrdp to increase performance on slow networks"
Xrdp is an open source version Windows RDP protocol which highly optimized for capturing and transferring screen in Ms-Windows. I know it's just an idea and far far away from real solution but it seams very  awesome. Just think about it...

[2017-09-05 13:45] kingofnull commented on #7
There is a project that implemented client side
https://github.com/sailfishos/RemoteDisplay

[2017-09-05 15:00] kingofnull opened #8 "Black screen on windows xp and windows server 2012 host"
I try to test client on windows XP and windows server 2012 and get black screen on other side ...

[2017-09-05 15:15] YiannisBourkelis commented on #8
@kingofnull this happens if you connect on a remote desktop session. If you keep the remote desktop window open you will see the remote desktop

[2017-09-05 15:17] YiannisBourkelis commented on #6
@kingofnull no I have implemented my own protocol. I mean the remote desktop image/mouse/keyboard

[2017-09-05 15:18] YiannisBourkelis commented on #7
@kingofnull thanks, I will take a look at it

[2017-09-05 15:45] kingofnull opened #9 "Adding clipboard sharing option"
Ability to coping text and files (at least text) is very important. So please add it.

[2017-09-05 15:47] YiannisBourkelis commented on #9
@kingofnull yes clipboard sharing and file transfer is a must have. I will implement it in the future

[2017-09-05 15:50] kingofnull opened #10 "Adding a option to set quality to increase picture transferring speed"
Screen transferring is very slow and and I cant find a way to decrease picture quality to decrease freeze and delays. I try it on my both server and both of them are laggy.

[2017-09-05 17:25] YiannisBourkelis commented on #10
@kingofnull try to clone the develop branch it is faster

[2017-09-05 17:27] YiannisBourkelis commented on #5
@kingofnull try to clone the develop branch and let me know if you have the same error on exit

[2017-09-06 14:11] kingofnull commented on #10
thanks

[2017-09-09 08:24] kingofnull opened #11 "What is UPnPManager and how to enable uPnP on proxy"
What is UPnPManager and how to enable uPnP on proxy?

[2017-09-09 08:39] kingofnull commented on #5
The develop branch compiles without adding any config but when I close the app the previous error still appears.

---------------------------
Microsoft Visual C++ Runtime Library
---------------------------
Runtime Error!

Program: E:\Projects\Qt\Andama Develope Branch\Andama-Remote-Desktop\src\build-Andama-Desktop_Qt_5_9_1_MinGW_32bit-Debug\debug\Andama.exe

This application has requested the Run

[2017-09-09 08:44] kingofnull commented on #5
![image](https://user-images.githubusercontent.com/11198668/30238682-d39aa8a0-9560-11e7-89ba-da070825faa4.png)

![image](https://user-images.githubusercontent.com/11198668/30238678-bf0e2da8-9560-11e7-91d6-ca8e743026ba.png)

[2017-09-09 09:19] kingofnull commented on #5
but proxy needs `LIBS += -lws2_32` in project file

[2017-09-09 09:37] kingofnull opened #12 "`Entry Point Not Found` on Windows XP"
![image](https://user-images.githubusercontent.com/11198668/30239004-21fe28b2-9568-11e7-81ab-8e878eda1d46.png)

[2017-09-11 13:32] mansouragied opened #13 "run from source code"
first i would thank you for Your great effort to create this app.
but i can't run it from source code by using QT 5.9.1......can you help me please.

[2017-09-11 20:08] YiannisBourkelis commented on #13
what is your os?

[2017-09-11 20:08] YiannisBourkelis commented on #13
and what errors do you get?

[2017-09-11 20:09] YiannisBourkelis commented on #11
it is a way to open ports on the router. it is work in progress

[2017-09-13 05:38] mansouragied commented on #13
i'm using windows 8.1 x64
----------------------------------------------
08:33:03: Running steps for project Andama...
08:33:03: Starting: "D:\Qt\Tools\mingw530_32\bin\mingw32-make.exe" clean
D:/Qt/Tools/mingw530_32/bin/mingw32-make -f Makefile.Debug clean
mingw32-make[1]: Entering directory 'C:/Users/Mansour Agied/Downloads/Andama-Remote-Desktop-develop/Andama-Remote-Desktop-develop/src/build-And

[2017-09-13 08:01] #11 closed

[2017-09-13 08:01] #6 closed

[2017-09-13 08:13] kingofnull commented on #13
If you are compiling stable release add this commands to your `.pro` file:
[code]
and if your compiling develop branch you compile without any modification.

[2017-09-13 11:07] mansouragied commented on #13
i'm trying but it appear this error (Andama-Remote-Desktop-develop\Andama-Remote-Desktop-develop\src\build-Andama-Desktop_Qt_5_9_1_MinGW_32bit-Debug\debug\Andama.exe exited with code 3)

[2017-09-13 11:57] mansouragied commented on #13
and how to put proxy IP and port?

[2017-09-14 08:15] YiannisBourkelis commented on #13
@mansouragied Yes you can change the proxy address from [](https://github.com/YiannisBourkelis/Andama-Remote-Desktop/blob/develop/src/Andama/clientserver.cpp) , line 797 to whatever domain the proxy is located.

[2017-09-14 08:17] #1 closed

[2017-09-14 08:18] YiannisBourkelis commented on #2
@marcelodias1806 send me an email with the translation files and I will merge it

[2017-09-14 08:19] #5 closed

[2017-09-14 08:19] #7 closed

[2017-09-14 08:20] #8 closed

[2017-09-14 08:20] #9 closed

[2017-09-14 08:20] #10 closed

[2018-01-24 11:02] shiftee opened #21 "Inform users of their GPL rights"
In some cases it is useful to send an Andama binary to someone for remote support.

As Andama is under the GPL we are obliged to inform them of their rights to the source etc.

Can we add a line of text to the main window which takes care of this for us?

Something like "Andama is Free Software distributed under the GPL"

Ideally, GPL should be a hyper-link. Clicking on it would open a dialog wind

[2018-02-06 11:18] technopandit commented on #13
@YiannisBourkelis I compiled master and alpha using win32: LIBS += -lgdi32 -lcomdlg32 -lws2_32
but everytime i close the app it gives me runtime error "this application has requested the runtime to terminate it in unusual way." dlls included - libgcc_s_dw2-1, libstdc++-6, libwinpthread-1, Qt5Core, Qt5Gui, Qt5Widgets.

[2018-02-06 12:01] YiannisBourkelis commented on #21
@shiftee If you right-click on the main window, there is an about screen with the GPL license and the related links. Is this ok?

[2018-02-06 12:20] shiftee commented on #21
I'm not sure if would be visible enough for a court of law but it will certainly do for now

[2018-02-06 12:35] #21 closed

[2018-02-07 02:34] technopandit commented on #13
this app is awesome, when can we expect the next release without that error.
yes it gives the error openssl/opensslconf.h: no such file or directory.
opensslconf.h.in this is the file in the directory i checked.

[2018-03-13 19:45] YiannisBourkelis commented on #13
@technopandit yes this missing opensslconf.h file is because openssl generates this file automatically. If you configure/compile openssl it will generate this file. About the next release probably after this summer

[2018-03-20 20:57] Dark-Vex commented on #12
It could be a problem with visual studio and QT-5 on XP, check this link -> http://www.tripleboot.org/?p=423 in the section "Q: “I did exactly what you said, but my app still fails on Windows XP with this error:”" there is exactly your error

[2018-03-21 19:24] merculiv opened #23 "Encryption - VPN ?"
Would using a VPN client  before running this program be a way of keeping a secure connection?

[2018-03-22 07:52] YiannisBourkelis commented on #23
@merculiv Yes I think so, if both computers, local and remote, are using a secure VPN tunel the connection would be secure. The "develop" branch is already using TLS encryption and can be considered secure in theory, however it is still in a very early version, and should be treated as insecure at the moment. There are no binaries yet, so if you would like to try it you should compile the develop

[2018-03-27 18:48] merculiv commented on #23
Can you push me the latest one with TLS in a zip?

It will be my forum username at gmx.com

Thanks Yiannis

[2018-03-27 19:12] YiannisBourkelis commented on #23
@merculiv just switch to the "develop" branch and download the source code. Just to correct something I wrote before: the encryption is not TLS but AES 256 CBC.

[2018-03-28 00:40] merculiv commented on #13
If I were to compile a binary for Windows wanting to use the latest dev branch version.

Would I use QT creator to run a build or can I use Visual Studio 2017 Community Edition?

I just want to get a compiled version of the latest branch for windows.

Thanks!  If you can make a binary for windows on the dev branch that would be awesome.

Great program btw.  I would even considering making a donati

[2018-03-28 07:13] YiannisBourkelis commented on #13
@merculiv On windows I am using Qt 5.10 and MSVC 2015. I will release a compiled version but I do not know when exactly.

[2018-03-28 08:01] merculiv commented on #13
Awesome program you developed.  I appreciate the work you put into making it.  I was doing some support on a users machine with it earlier today.  In your dev version I had issues typing with the keyboard.  Other than that. the program works nicely and I like the random number and password system that's built into it.  The AES 256 option would be a nice add for secure use.  The program is nice and

[2018-03-28 08:04] YiannisBourkelis commented on #13
@merculiv thanks, I am doing my best :-)

[2018-04-14 15:30] hardilliam opened #24 "Unable to start sourcecode"
Hello!
I didn't have any skills in C++ (or other languages) and i can't start the SourceCode from Eclipse (or Visual Code)

Anyone can help me?
Thanks :)

[2018-04-18 12:00] YiannisBourkelis commented on #24
@hardilliam You will need Qt IDE, however building this project requires some knowledge of C++, compiling, linking etc.

[2018-05-29 08:54] plumlee001 opened #25 "build error"
i am trying to build Andama from source, however i got the following error:

D:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\include\xmemory0:952: error: C2664: “zallocator<_Newfirst>::zallocator(zallocator<_Newfirst> &&)”: unable to convert parameter1 from “std::_Wrap_alloc<zallocator<char>>” to “const zallocator<_Newfirst> &”
with
[
    _Newfirst=std::_Container_proxy
]

I am using the de

[2018-05-31 11:44] YiannisBourkelis commented on #25
@plumlee001  glad you solved the issue. I am using the most recent versions of Xcode on my mac and Visual Studio Community on windows.

[2018-06-05 02:31] plumlee001 commented on #25
That would be very nice. @YiannisBourkelis
Again, Awesome project !

[2018-10-04 02:10] mlpa2112 opened #26 "Port access for firewall"
Hi Yiannis,

What ports (tcp and udp) does Andama utilize?  On a firewall that only lets certain inbound traffic out, port 80 and 443 are specified, but Andama was unable to be remoted into in this network.

As well, the other purpose of this message is to discuss expansion.  Are you still checking your hello account at andama.org?

**Please reach out to me to discuss offline.**

Thanks!
Matt

[2018-10-04 02:17] YiannisBourkelis commented on #26
Hi Matt,
the application makes only outbound connections to the andama proxy on port 8099.
Andama proxy (the server side) listens on 8099 for incoming connections.

Yes I am checking the hello mail account

[2018-10-04 02:19] mlpa2112 commented on #26
Excellent - can you reply to me via email. I've sent you one there.

[2018-10-04 02:20] YiannisBourkelis commented on #26
@mlpa2112 yes I'll check now

[2018-10-20 12:32] xabispacebiker opened #27 "Command Line support"
Thanks a lot for your effort creating this app.

Does it have any command line support ?

[2018-10-23 12:52] YiannisBourkelis commented on #27
@xabispacebiker hi, no command line support at the moment. What would you like to achieve?

[2019-02-06 02:28] rose22221 opened #28 "want to give contribution"
i liked this product.

i run a small company of Service desk software. i need your support on this tool. want to give contribution. pls connect me on deepak.gahoi83@gmail.com if you are interested.

[2019-02-11 00:39] falselife opened #29 "not working anymore"
The program has not been working for me for several days. Both at home and at work simply does not work. "Connecting" and finally show the message "error connecting with proxy server. Please check your internet connection or try again later". Any idea?

[2019-02-11 01:25] eduardoc25 commented on #29
Apparently the server is down, the only way is to download the sources, make modifications and make them walk under your infrastructure.
I see that until last year there has been some activity, I really hope this project continues.
Best regards

[2019-02-11 17:06] falselife commented on #29
Alright, thanks for reply.

[2019-02-11 20:49] YiannisBourkelis commented on #29
@falselife @eduardoc25 thanks for mentioning this. VPS is down because I forgot the payment of the VPS. Hope to fix it tomorrow if everything is not deleted because it will take me some time.

[2019-02-11 20:53] YiannisBourkelis commented on #28
@rose22221 ok just emailed you

[2019-02-11 23:15] falselife commented on #29
@YiannisBourkelis I will use the opportunity to say thank you for this excellent program. Good luck further.

[2019-02-12 00:16] eduardoc25 commented on #29
@falselife, I understand, I hope that I will be online again, I will try to contribute small things that are within my reach to your project. I sign up as a tester, for the moment I'm going to do it on linux and windows ... later on mac. Anything my email is eduardocp25@gmail.com, who knows I even invite you a cup of coffee. I hope you are well, Greetings!

[2019-02-12 02:09] YiannisBourkelis commented on #29
Thank you @eduardoc25 for your contributions. I already merged the Spanish translation you have sent. Hope the VPS that hosts the Andama Proxy will be online tommorow so that you can test it better

[2019-02-12 04:53] eduardoc25 opened #31 "The application fails when I press a key!"
When I press a key the application fails immediately, from linux client to linux, windows to windows client, as cross linux to windows or windows to linux.
### Client dump:
[code]
### Proxy Server dump:
[code]
PD: Proxy Server is compiled and run in Archlinux, all machines is still down the firewall!

[2019-02-13 22:18] YiannisBourkelis commented on #31
@eduardoc25 Andama proxy is up and running. Can you try again the Andama develop branch?

[2019-02-13 22:22] YiannisBourkelis commented on #29
@falselife thanks! Also, the Andama Proxy is up and running.

[2019-02-14 00:15] eduardoc25 commented on #31
@YiannisBourkelis I have downloaded the source and compiled it, but it still does not seem to connect, please look at the capture
![screenshot_20190213_211429](https://user-images.githubusercontent.com/6886712/52753210-81470c00-2fd4-11e9-9230-3f3e564c6109.png)

[2019-02-14 00:34] YiannisBourkelis commented on #31
@eduardoc25 what is the value of PROXY_PORT_NUMBER ? It is located inside ...src/Shared/AndamaHeaders/shared_constants.h , line 4 . Should be: **const int PROXY_PORT_NUMBER = 80**

[2019-02-14 00:47] eduardoc25 commented on #31
@YiannisBourkelis , That's right, that's the port, please look at the attachment.
![screenshot_20190213_214605](https://user-images.githubusercontent.com/6886712/52754328-edc40a00-2fd8-11e9-9404-cf74c62dfa46.png)

[2019-02-14 01:04] YiannisBourkelis commented on #31
@eduardoc25 strange. Works fine on osx and windows. I do not have a linux machine to test it now...
Maybe you could debug to figure out why this is happening. Does the error appear after the ::connect command on line 150 of client socket.cpp?

[2019-02-14 01:47] eduardoc25 commented on #31
@YiannisBourkelis , I'm sorry, it was my thing !, I've pipped it on my DNS server, it did not resolve the ip indicated so it did not connect. Now I have tried again with my other computer (windows) and the application still crashes when I press any key.
![screenshot_20190213_224405](https://user-images.githubusercontent.com/6886712/52756779-48f9fa80-2fe1-11e9-815e-96b8676811ec.png)

[2019-02-14 02:02] YiannisBourkelis commented on #31
@eduardoc25 maybe you are missing openssl. Did you build it? If not follow the guide inside Andama.pro file.
OpenSSL is included inside the OpenSSL-1.1.0g folder.

For linux:
# go inside OpenSSL-x.x folder using the terminal
# type:
# 1)    ./config
# 2)    make clean
# 3)    make
# this should compile openssl on linux

Then qmake/clean/rebuild Andama

[2019-02-14 02:09] YiannisBourkelis commented on #31
@eduardoc25
windows compile guide:
install activeperl - https://www.activestate.com/activeperl
install nasm - http://www.nasm.us/
go inside OpenSSL-x.x folder from visual studio 2010 command line prompt
type :
1)    perl.exe Configure VC-WIN32
2)    nmake clean
3)    nmake
this should compile openssl on windows

[2019-02-14 02:18] eduardoc25 commented on #31
when I compile the openssl I get:
make[2]: Entering directory '/home/eduardo/Descargas/Andama-Remote-Desktop-develop/src/OpenSSL-1.1.0g'
make[2]: Makefile.shared: No such file or directory
make[2]: *** No rule to make target 'Makefile.shared'.  Stop.
make[2]: Leaving directory '/home/eduardo/Descargas/Andama-Remote-Desktop-develop/src/OpenSSL-1.1.0g'
make[1]: *** [Makefile:642: libcrypto.so] Error

[2019-02-14 02:21] eduardoc25 commented on #31
Yes, in windows I have managed to compile openssl but with perl Configure VC-WIN64A and the MSVC2015 64bits c/c++ ...

[2019-02-14 02:29] YiannisBourkelis commented on #31
@eduardoc25 ok, now qmake/clean/rebuild Andama. Does it work?

[2019-02-14 02:31] YiannisBourkelis commented on #31
@eduardoc25 keyboard not working yet on the develop branch, but mouse works. If you press a key after connecting to the remote computer it will crash.

[2019-02-14 02:33] eduardoc25 commented on #31
It works!

[2019-02-14 02:36] eduardoc25 commented on #31
Oh, then it's correct, that's exactly what happened to me ... So you have some idea of how I can solve it in the development branch ?. Or do I have to try the main branch to make it work?
And by the way, thanks for the answers! You have been very helpful!

[2019-02-14 02:43] YiannisBourkelis commented on #31
The develop branch is the most current. I will take a look on the keyboard issue tomorrow if I have some time and I will let you know. Thanks for testing :-)

[2019-02-14 02:56] eduardoc25 commented on #31
@YiannisBourkelis , perfect !, I'm still in diapers with c / c ++, I'm going to play with what I have and if I find a possible solution I will also let you know (at least I know that the error is not the result of my environment to build the application - problem may be in the code). regards

[2019-02-14 13:16] YiannisBourkelis commented on #31
@eduardoc25 ok, keyboard issue fixed.

[2019-02-14 16:25] eduardoc25 commented on #31
How good you are, when I am at home, I try it back! ... By the way, excuse my super English.

[2019-02-14 22:39] eduardoc25 commented on #31
@YiannisBourkelis, confirmed, the keyboard is working now ... it does not really exhibit the correct keys, but the application no longer ends when you press any key.

[2019-02-14 22:39] #31 closed

[2019-03-06 17:20] hartois opened #32 "Build with mingw32"
Hello,
I'm try build from Linux with mingw32 and got errors:
[code]

Help me please.
What did I do wrong?

OS: Fedora 28
Compiller (from fedora repo): mingw32-gcc-c++-7.3.0-1.fc28.x86_64

[2019-03-06 21:52] YiannisBourkelis commented on #32
@hartois haven't try mingw32. Should compile fine using g++

[2019-03-07 05:37] hartois commented on #32
It use g++
[code]

[2019-03-07 06:20] hartois commented on #32
Ok, I replace in pro file
[code]
with
[code]
for using openssl from system includes and this step builded success...

Next:
[code]

[2019-03-07 14:36] YiannisBourkelis commented on #32
@hartois I don't now, check the suggestion about changing inet_ntop. Why don't you use the g++ compiler on linux? Usually mingw is for windows users, as an extra compatibility layer with posix systems

[2019-03-07 16:46] hartois commented on #32
I want build application for using on Windows system

[2019-03-08 04:52] hartois commented on #32
I'm trying build with QtCreator on Windows, but compiled applications cannot start:
![image](https://user-images.githubusercontent.com/11641656/54008244-eecefe00-4176-11e9-85f0-fc541f8f9421.png)

[2019-03-11 11:33] hartois commented on #32
Ok, I was able to build application on Windows.
But on trying to close application it was crashed with message in console:
Fatal: QThread: Destroyed while thread is still running ((null):0, (null))

[2019-03-12 01:41] YiannisBourkelis commented on #32
@hartois I think this issue exist on the master branch but it was fixed in the develop branch. Switch to the develop branch and try to compile

[2019-03-12 05:44] hartois commented on #32
I'm already on develop branch:

![image](https://user-images.githubusercontent.com/11641656/54177348-f9ed9b00-44a2-11e9-9e50-0895407fb1f9.png)

[2019-03-13 13:21] YiannisBourkelis commented on #32
@hartois  Switch to the Debug configuration from within Qt IDE so that we might get a better error message about why this is happening. Also on your project tree do a qmake / clean / rebuild

[2019-03-20 11:23] hartois commented on #32
[code]

[2019-03-20 13:29] YiannisBourkelis commented on #32
@hartois VPS server is down. Waiting from the provider to fix it

[2019-03-20 14:54] hartois commented on #32
@YiannisBourkelis no, no... I'm using own AndamaProxy
I was found cause of bug with thread stopping.
In
https://github.com/YiannisBourkelis/Andama-Remote-Desktop/blob/develop/src/Andama/mousekeyb/MouseCursorHookWindows.cpp#L145

should be
[code]
_mythreadid instead of _threadid

FIX please

[2019-03-21 23:51] YiannisBourkelis commented on #32
@hartois _threadid issue fixed!

[2019-03-22 17:26] hartois opened #34 "Russian translation"
Please merge russian translation
PR: https://github.com/YiannisBourkelis/Andama-Remote-Desktop/pull/33

[2019-03-22 17:35] hartois commented on #32
I could compile static build with mingw on Windows. Thank you.

[2019-03-22 17:35] #32 closed

[2019-03-22 17:37] hartois opened #35 "Password generation"
On Windows Andama on every execution, on different systems generate different ID, but same password.

[2019-03-22 17:41] hartois commented on #35
Who generate password Proxy or client?
Help me please find place in sources

[2019-03-22 17:55] YiannisBourkelis commented on #35
@hartois strange, password is generated on the client side, each time the application runs.
Probably it has to do with the internal implementation of random numbers distribution, inside the mingw.
Tested with compilers on osx/clang, linux/g++ and windows/vs c++ and works fine.

To find the problem with the mingw compiler, I think you should look inside the function where the random password is gen

[2019-03-22 18:26] YiannisBourkelis commented on #34
@hartois merged! Please check if it's ok.
Translation file is picked at runtime based on OS local settings. Manually you can uncomment //lang = "ru"; inside main.cpp, line 135 to see the Russian translation or any other.

[2019-03-22 18:32] hartois commented on #35
Yes, after searching I found that problem in using rd() function in Mingw compiller.
For me I replace it to time(NULL) and get different passwords...
[code]
Сan you suggest some kind of another, more correct way?

Thanks

[2019-03-22 18:45] YiannisBourkelis commented on #35
@hartois I don't know if this way it produces completely random passwords. Maybe std::mt19937 mt = std::mt19937(time_t(NULL)); might be better to clean the warning. It still needs investigation if it is ok.

[2019-03-23 05:21] hartois opened #37 "Host settings"
In clientsocket.cpp, clientserver.cpp have hardcoded
[code]
It may be worth replacing them with the use of constants from shared_constants.h ?

[2019-03-23 09:19] YiannisBourkelis commented on #37
@hartois better leave it there at the moment mainly for testing purposes to be close to the place we use it.  SERVER is not shared across multiple projects. It is used only on a Andama client, not the proxy.
shared_constants.h is the place for constants used by both Andama and AndamaProxy

[2019-03-26 14:40] hartois commented on #37
@YiannisBourkelis It is not comfortable. When updating the source you need to merge the configuration - this is not correct.

[2019-03-26 14:44] hartois opened #38 "Copy Your ID"
Field "Your ID" has properties, that prevents copy of text.
Is it made on purpose?

[2019-03-26 15:32] YiannisBourkelis commented on #38
@hartois no

[2019-03-26 15:34] YiannisBourkelis commented on #37
@hartois what do you suggest?

[2019-04-16 12:15] p3rtinax opened #39 "Server Side version ?"
Dear Yiannis,
First, thank you for this great application,
I wanna know is there any Server Side source code?
Which part has to run on Server to act as the Broker or gateway to connect clients to each other?

I have 10 pc on my workgroup, is it possible to host the server inside the office without using internet access ( self-host your app? )

[2019-04-17 22:26] YiannisBourkelis commented on #39
@p3rtinax Yes there is a server side source code that acts as a proxy. It is the andama proxy located here: https://github.com/YiannisBourkelis/Andama-Remote-Desktop/tree/develop/src/AndamaProxy

Yes you can host andama on your private network without requiring an internet connection. You will need to compile andama proxy and run it in your server. Then compile Andama (better use the develop branc

[2019-05-31 15:20] marcelodias1806 commented on #2
Dear @YiannisBourkelis

I'm trying compiling the Andama Desktop project in my Mac, but show the following errors, I'm searching for this errors since 20/05/2019 but I can't solve this. You can help me for this errors?

Beste Regards

[2019-05-31 15:23] marcelodias1806 commented on #2
![Captura de Tela 2019-05-31 às 12 17 05](https://user-images.githubusercontent.com/26504575/58716155-c71abb00-839e-11e9-8207-9d8175c2310c.png)

[2019-05-31 15:36] marcelodias1806 commented on #2
What would your operating system recommendation (CentOS, Ubuntu, Debian, Windows 10 or Mac?), Qt and additional libraries be so I can compile Andama Desktop?

[2019-05-31 15:37] marcelodias1806 commented on #2
I did all the translation of Andama Desktop to Portuguese from Brazil, I wanted to test, check the errors, compile here and tell you to put in the project.

[2019-06-01 03:35] marcelodias1806 commented on #2
Dear,
I can compile the Andama in Ubuntu, I'm testing the translation for the Andama, later I send to you.

[2019-06-01 06:32] YiannisBourkelis commented on #2
@marcelodias1806 thanks for testing! I have tested compiling andama on Windows, OSX and Linux (Debian, raspbian, Ubuntu and CentOS) successfully. If you can compile in Ubuntu and test we are ok!

[2019-06-01 06:34] YiannisBourkelis commented on #2
@marcelodias1806 usually these errors on OSX appear when older versions of Qt are installed. Install the latest and make sure you are in the develop branch and should compile fine.

[2019-06-03 16:21] marcelodias1806 commented on #2
@YiannisBourkelis for this moment I will use Ubuntu to compile, I want to make all the translation adjustments ok first, then I will do it on Windows, MacOS and Raspberry.

[2019-06-03 16:24] marcelodias1806 commented on #2
@YiannisBourkelis I did all the translation using Qt Linguist, I put it in the project, but when compiling it is still showing up with the English version. Should I perform some other procedure? Should I do some additional code tuning? How can I compile it and run it with the language I translated? I changed it to the form in Qt Creator and it still compiles in English.

[2019-06-03 16:26] marcelodias1806 commented on #2
@YiannisBourkelis I did all the translation using Qt Linguist, I put it in the project, but when compiling it is still showing up with the English version. Should I perform some other procedure? Should I do some additional code tuning? How can I compile it and run it with the language I translated? I changed it to the form in Qt Creator and it still compiles in English.

[2019-06-07 22:13] YiannisBourkelis commented on #2
@marcelodias1806 just send a merge request and I will insert the translation for you.

[2019-06-07 22:18] YiannisBourkelis commented on #2
@marcelodias1806 to see the translation in the app, you should add the translation inside the resources.qrc and then inside main.cpp, on line 135 change the line //lang = "ru"; to your language file code, something like: lang = "pt";

[2019-07-30 01:38] cerberuscgn opened #40 "Wont compile on MacOS 10.14"
Hi all, I tried to compile the AndamaProxy as well as the client. I am failing with one of these error messages:

mousekeyb/MouseMac.cpp:44:24: error: no matching function for call to 'CGEventCreateMouseEvent'
    CGEventRef event = CGEventCreateMouseEvent(NULL, kCGEventMouseMoved, CGPointMake(x, y), 0 /*ignored*/);
                       ^~~~~~~~~~~~~~~~~~~~~~~
/Applications/Xcode.app/Contents/De

[2019-07-30 17:22] cerberuscgn opened #41 "German Translation"
Hi there,

would be great to see activity in this project. I am offering the German translation.
Please let me know when and if I can begin.

Thanks

[2019-08-05 16:12] cerberuscgn commented on #40
Update: I am now using the development branch, that compiles almost fine.

[2019-08-05 16:12] #40 closed

[2020-01-11 09:01] FitterX opened #42 "How to compile Andama."
Hello!
I'm having trouble trying to compile!
I tested different versions of QT opensource but was unsuccessful.

Could someone help me, or pass on the settings that must be done in QT to compile successfully.

Thank you!

[2020-01-11 09:05] YiannisBourkelis commented on #42
@FitterX choose the develop branch.

[2020-01-11 10:31] FitterX commented on #42
Hello!
Thanks for replying so fast!

I am extract develop branch and open andama on qt creator 4.10.2.
I am using Windows 8.1 Pro
And when I put to compile I get the following messages.
What will be the problem?
Thanks!

![1](https://user-images.githubusercontent.com/34095103/72202950-1c926c80-3444-11ea-88a3-f865c555919b.JPG)

[2020-01-11 17:58] YiannisBourkelis commented on #42
@FitterX you should compile openssl library as described here on line 178 https://github.com/YiannisBourkelis/Andama-Remote-Desktop/blob/develop/src/Andama/Andama.pro

[2020-01-11 19:46] FitterX commented on #42
Hi, i go try!
Thank you!

[2020-01-12 12:52] FitterX commented on #42
Hello!
It worked perfectly on Qt Ide.
How do I generate an executable that runs on another computer.

Currently only works when I play inside Qt Ide.
When I open the release folder and try to run andama.exe returns an error.

Thank you one more time!

[2020-01-13 11:49] YiannisBourkelis commented on #42
@FitterX I didn't tested a standalone build yet. Check the error messages about missing libraries and include them inside the folder where andama.exe is located. Read this https://doc.qt.io/qt-5/windows-deployment.html
You should also include the qt libraries for jpeg

[2020-03-31 03:22] marcelodias1806 opened #43 "Compile Andama in Windows 10 with QT 5.14.1"
Dear Yiannis, how are you?

I'm trying compile the Andama Remote Desktop for Windows, using the Windows 10 with Qt 5.14.1. I already configure the project in Qt and when I try build and run, sho the following 1 error with the following message.

C:\Users\marcelo.dias\Documents\GitHub\Andama-Remote-Desktop\src\Andama\mainwindow.cpp:445: error: cast from 'Qt::HANDLE {aka void*}' to 'long int' loses

[2020-03-31 17:40] marcelodias1806 commented on #43
In code show the error in line 445 of mainwindow.cpp.

The part of code is:

[code]

[2020-03-31 19:58] YiannisBourkelis commented on #43
@marcelodias1806 try compiling the development branch. I have not got a windows machine close to me at the moment but on Windows I am using the visual studio c++ compiler. What is your development setup?

[2020-03-31 22:28] marcelodias1806 commented on #43
Dear Yiannis,

Now it worked!

I did it by developing your Git, using Windows 10, now with Visual Studio 2019.

I installed Visual Studio 2019 and the QT Tools plugins for VS 2019.

I compiled and executed, compiled AndamaProxy, configured SERVER for a server of mine and executed and went online.

When I close Andama.exe it gives me the error message below.

![Anotação 2020-03-31 192730](https://u

[2020-03-31 22:34] marcelodias1806 commented on #43
Dear Yiannis,

I did it, I stopped the debugger before closing.

[2020-03-31 23:12] marcelodias1806 commented on #43
It worked, I did it!

I copied the platforms folder from the path below into the 'release' folder and run ok. Now I will do tests on other machines.

C:\Qt\5.14.1\msvc2017_64\plugins

Best Regards

[2020-03-31 23:44] YiannisBourkelis commented on #43
@marcelodias1806 that's great!

[2020-03-31 23:57] marcelodias1806 commented on #43
I run it on 2 different computers, running AndamaProxy and Andama on my computer and Andama on another computer, the 2 go online, accept each other's connection, but the desktop of the computer I ask for the connection does not appear when I type the ID and password to connect it simply minimizes the window and nothing else appears, on the other computer it says that the connection was accepted.

[2020-04-01 10:46] YiannisBourkelis commented on #43
@marcelodias1806 looks like a dependency is missing. probably in the plugins folder.
Try to debug Andama on both computers from Qt to view the errors or run Andama.exe from within cmd.exe to output possible error messages in the console window.

[2020-04-01 21:07] marcelodias1806 commented on #43
Dear Yiannis,

Fantastic! It's running!

If you contribute to this project as much as you can, it will not be a program like you in C ++, but you will study hard to be able to contribute to this sensational project.

Thank you so much for sharing with us!

Best Regards

[2020-07-08 13:52] YehudaEi opened #45 "Compile Andama for Windows in Ubuntu"
Hello @YiannisBourkelis,

I am using Linux (Ubuntu) and I would love to know how I can compile the software for Windows.

(I have the option of running Visual Studio on Windows if needed)

Many thanks in advance,
Yehuda.